@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        display: grid;
        box-sizing: border-box;
        width: calc(100vw - 150px);
        height: calc(100vh - 150px);
        margin: 75px;

        background: #FFFFFF;
        border: 1px solid #DCB172;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px #DCB172;

        padding: 50px;
        grid-gap: 50px;
        grid-auto-flow: column;
        grid-auto-columns: 376px 545px 620px;

        textarea {
            width: 376px;
            height: 331px;
            padding: 10px;

            border: 1px solid #606060;
            box-sizing: border-box;
            border-radius: 10px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;

            outline: none;
            resize: none;

            &::placeholder {
                text-align: center;
                font-size: 20px;
                line-height: 310px;
            }

            &.input {
                &:nth-of-type(1) {
                    margin-bottom: 50px;
                }
            }

            &.output {
                width: 545px;
                height: 544px;
                margin-bottom: 50px;

                &::placeholder {
                    line-height: 530px;
                }
            }
        }

        label {
            display: inline-flex;
            width: 245px;
            height: 117px;
            
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            box-sizing: border-box;
            border-radius: 10px;
            
            align-items: center;
            justify-content: center;
            
            user-select: none;
            cursor: pointer;
            
            &:nth-of-type(1) {
                border: 1px solid #FF6786;
                color: #FF6786;
                margin-right: 50px;
            }
            
            &:nth-of-type(2) {
                border: 1px solid #5FBEFF;
                color: #5FBEFF;
            }
            
            transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
            
            &.active {
                &:nth-of-type(1) {
                background-color: #FF6786;
                color: white;
                }

                &:nth-of-type(2) {
                background-color: #5FBEFF;
                color: white;
                }
            }
            
            input {
                display: none;
            }
        }

        #map {
            display: block;
            width: 438px;
            height: 438px;
            margin: 0 auto 50px;
            position: relative;

            canvas {
                border-radius: 10px;
            }

            input {
                position: absolute;
                right: -35px;
                top: 50%;
                transform: translate(0, -50%);
                writing-mode: bt-lr; /* IE */
                -webkit-appearance: slider-vertical; /* WebKit */
                width: 8px;
                height: 175px;
                padding: 0 5px;
            }
        }

        .outer-alg {
            width: 620px;

            .alg {
                float: left;
                width: 305px;
                height: 235px;

                &:nth-of-type(1) {
                    margin-right: 10px;
                }
            }
        }
        
    }
}