@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html, body {
  padding: 0;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100vw - 150px);
  height: calc(100vh - 150px);
  margin: 75px;
  background: #FFFFFF;
  border: 1px solid #DCB172;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px #DCB172;
          box-shadow: 0px 0px 15px #DCB172;
  padding: 50px;
  grid-gap: 50px;
  grid-auto-flow: column;
  grid-auto-columns: 376px 545px 620px;
}

body .wrapper textarea {
  width: 376px;
  height: 331px;
  padding: 10px;
  border: 1px solid #606060;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  outline: none;
  resize: none;
}

body .wrapper textarea::-webkit-input-placeholder {
  text-align: center;
  font-size: 20px;
  line-height: 310px;
}

body .wrapper textarea:-ms-input-placeholder {
  text-align: center;
  font-size: 20px;
  line-height: 310px;
}

body .wrapper textarea::-ms-input-placeholder {
  text-align: center;
  font-size: 20px;
  line-height: 310px;
}

body .wrapper textarea::placeholder {
  text-align: center;
  font-size: 20px;
  line-height: 310px;
}

body .wrapper textarea.input:nth-of-type(1) {
  margin-bottom: 50px;
}

body .wrapper textarea.output {
  width: 545px;
  height: 544px;
  margin-bottom: 50px;
}

body .wrapper textarea.output::-webkit-input-placeholder {
  line-height: 530px;
}

body .wrapper textarea.output:-ms-input-placeholder {
  line-height: 530px;
}

body .wrapper textarea.output::-ms-input-placeholder {
  line-height: 530px;
}

body .wrapper textarea.output::placeholder {
  line-height: 530px;
}

body .wrapper label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 245px;
  height: 117px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

body .wrapper label:nth-of-type(1) {
  border: 1px solid #FF6786;
  color: #FF6786;
  margin-right: 50px;
}

body .wrapper label:nth-of-type(2) {
  border: 1px solid #5FBEFF;
  color: #5FBEFF;
}

body .wrapper label.active:nth-of-type(1) {
  background-color: #FF6786;
  color: white;
}

body .wrapper label.active:nth-of-type(2) {
  background-color: #5FBEFF;
  color: white;
}

body .wrapper label input {
  display: none;
}

body .wrapper #map {
  display: block;
  width: 438px;
  height: 438px;
  margin: 0 auto 50px;
  position: relative;
}

body .wrapper #map canvas {
  border-radius: 10px;
}

body .wrapper #map input {
  position: absolute;
  right: -35px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-writing-mode: bt-lr;
      -ms-writing-mode: bt-lr;
          writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

body .wrapper .outer-alg {
  width: 620px;
}

body .wrapper .outer-alg .alg {
  float: left;
  width: 305px;
  height: 235px;
}

body .wrapper .outer-alg .alg:nth-of-type(1) {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */