#home .header {
    height: 19.4vh;
    
    font-weight: 300;
    font-size: 72px;
    line-height: 88px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#home p.intro {
    width: 1000px;
    margin: 0 auto;
    padding: 3.7vh 0;
    text-align: center;
    
    font-size: 24px;
}

#home p.intro a {
    color: #5FBEFF;
    font-size: 24px;
}

#home p.intro a:hover {
    text-decoration: underline;
}