#will-be-added {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-size: 25px;
}

#will-be-added strong {
    margin-top: 40px;
    font-size: 60px;
}