@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

body {
  background-color: #7F7F7F;
}

a {
  color: #ffffff;
}

#root {
  min-height: 87vh;
  margin: 6.5vh;
  background-color: #3F3F3F;
  color: #ffffff;

  display: grid;
  grid-template-areas: 
    "header header"
    "aside main";
  grid-template-columns: 300px auto;
  grid-template-rows: 77px auto;
}

header {
  grid-area: header;
  height: 77px;
  border-bottom: 2px solid #7F7F7F;
  position: relative;
}

header .title {
  width: 450px;
  line-height: 77px;
  
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

header ul {
  position: absolute;
  top: 0;
  right: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  height: 77px;
}

header ul li {
  display: block;
  width: 150px;

  text-align: center;
  line-height: 77px;
  text-transform: uppercase;
}

header ul li a {
  font-weight: 500;
}

header ul li a:hover {
  color: #840017;
  transition: color 200ms ease-in-out;
}

header ul li a.active {
  color: #840017;
}

aside {
  grid-area: aside;
  border-right: 2px solid #7F7F7F;
}

main {
  grid-area: main;
  padding: 18px 32px;
}

main h1 {
  margin: 0;
  height: 46px;
  line-height: 46px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}