#actions strong {
    display: block;
    font-weight: 400;
    margin-bottom: 15px;
}

#actions a {
    display: block;
    padding: 8px;
    background-color: #595959;
}

#actions a:nth-child(odd) {
    background-color: #707070;
}

#actions a:hover {
    transition: background-color 200ms ease-in-out;
    background-color: #840017;
}