#data {
    display: grid;
    height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
}

#data .copy-label {
    height: 26px;
    margin-bottom: 13px;
}

#data .copy-label img {
    cursor: pointer;
    margin-right: 6px;
    margin-bottom: -5px;
}

#data .copy-label span {
    display: inline-block;
    height: 26px;
    line-height: 26px;
}

#data .copy-label input {
    border: none;
    border-bottom: 1px solid #7F7F7F;
    background-color: transparent;
    padding: 2px;
    margin-left: 5px;
    max-width: 200px;
    color: #ffffff;
}

#data .copy-label input::placeholder {
    color: #7F7F7F;
}

#data h1 {
    margin-top: 32px;
}

#data h1:nth-of-type(1) {
    margin-top: 0;
}

#data textarea {
    background-color: #595959;
    border: none;
    border-radius: 5px;
    resize: none;
    color: #ffffff;
    padding: 5px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 11px;
    height: 200px;
}

#data button {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
}

#data button.add  {
    background-color: #5C7528;
}
#data button.remove  {
    background-color: #840017;
}